<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header-footer.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%-include('./partials/header') %>

    <form action="/products/editarproducto/<%= producto.id %>" method="POST">
        <label for="nombre">Nombre del producto</label>
        <input type="text" name="nombre" value="<%= producto.nombre %>">
        <label for="descripcion">descripcion</label>
        <input type="text" name="descripcion" value="<%= producto.descripcion %>">
        <label for="img">imagen </label>
        <input type="file" name="imagen">
        <label for="categoria">categoria</label>
        <input type="text" name="categoria" value="<%= producto.categoria %>">
        <label for="precio">Precio</label>
        <input type="text" name="precio" value="<%= producto.precio %>">
        <button type="submit">Enviar producto editado</button>
        <button type="reset">borrar</button>
    </form>

    <%-include('./partials/footer') %> 
</body>
</html>