<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header-footer.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

  <div id="container">

    <%-include('./partials/header') %> 

    <main>
  
    <div class="news">
        <h2>Novedades</h2>
        <p>Lo ultimo en libros universitarios</p> 
      <div id="more">
        <a href="/news">Ver mas</a>
      </div>
  

          <ul id="image">
          <% for(let i=0; i< products.length; i++){ %>
            <ul id="image">
            <div class="img">
            <a href="/productdetail/<%= products[i].id%>">
              <img src="<%=products[i].image%>" alt="">
              <li>
                <p><%= products[i].name%></p>
                <pre>por <strong> <%= products[i].editorial%> </strong> </pre>
                <p>$ <%= products[i].price%></p>
              </li>
            </a>
          </div>
        
         <% } %> 
        </ul>
    </div>
      
    <div id="category">
      <h2 name="category">Categorias</h2>
      <ul>
        <li><a href="#">Arquitectura y Diseño</a></li>
        <li><a href="#">Ciencias Economicas</a></li>
        <li><a href="#">Ciencias Sociales</a></li>
        <li><a href="#">Derecho</a></li>
        <li><a href="#">Farmacia y Bioquímica</a></li>
        <li><a href="#">Ingenieria</a></li>
        <li><a href="#">Medicina</a></li>
        <li><a href="#">Psicología</a></li>
      </ul>
    </div>

    <div class="mostwanted">
      <h2>Lo mas buscado</h2>
      <p>Lo que mas se busca en las universidades</p> 
    <div id="more">
      <a href="/news">Ver mas</a>
    </div>

      <ul id="image">

        <div class="img">
          <a href="/productdetail">
            <li><img src="/image/Roos.jpg" alt="portada libro Roos"></li>
            <p>Histologia, texto y atlas</p>
            <pre>por <strong>Roos</strong></pre>
            <p>$</p>
          </a>
      </div>

        <div class="img">
          <a href="/productdetail">
            <li><img src="/image/la politica economica.jpg" alt="portada libro politica economica si importa"></li>
            <p>La politica economica si importa</p>
            <pre>por <strong> Expansion</strong></pre>
            <p>$</p>
          </a>
      </div>

        <div class="img">
          <a href="/productdetail">
            <li><img src="/image/la era de la revolucion.webp" alt="portada libro la era de la revolucion"></li>
            <p>La era de la revolucion</p>
            <pre>por <strong> Eric Hobsbawn</strong></pre>
            <p>$</p>
          </a>  
      </div>

        <div class="img">
          <a href="/productdetail">
            <li><img src="/image/administracion de empresas.jpg" alt="portada libro Administrastive Behavior"></li>
            <p>Administrastive Behavior</p>
            <pre>por <strong>Herbert A. Simon</strong></pre>
            <p>$</p>
          </a>
      </div>
      </ul>
  </div> 

    </main>

    <%-include('./partials/footer') %> 

   </div>
</body>
</html>