<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./partials/header') %> 

    <ul>
        <% productos.forEach(function(producto){ %>
            <li>
                Nombre: <%= product.nombre %> - 
                Email: <%= product.email %> - 
                <a href="/users/edit/<%= productos.id %>">EDITAR</a> - <a href="/users/destroy/<%= productos.id %>">BORRAR</a>        
            </li>
        <% }); %>
        </ul>

    <%-include('./partials/footer') %> 
</body>
</html>