<html>

<head>
  <title>Pagina de Producto</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/product.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/header-footer.css">
  <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<main>
  <div>
    <div id="product">
      <img src="/image/<%=products.image%>">
      <h3><%= products.name%></h3>
      <p><%= products.description%></p>
    </div>
    <div id="purchase">
      <p>$ <%= products.price%></p>
    </div>
  </div>
  <hr>
  <div class="comprar">
    <a href="/cart/<%= products.id%>"><button type="button">Comprar</button></a>
  </div>

  <div class="extra">
    <h2>Libros recomendados</h2>

    <ul id="image">
      <% for(let i=0; i< products.length; i++){ %>
      <div class="img">
        <a href="/productdetail/<%= products[i].id%>">
          <img src="image/<%=products[i].image%>" alt="">
          <li>
            <p><%= products[i].name%></p>
            <pre>por <strong> <%= products[i].editorial%> </strong> </pre>
            <p>$ <%= products[i].price%></p>
          </li>
        </a>
      </div>

      <% } %>
    </ul>
  </div>
  </div>
  </ul>
  </div>
</main>

<%- include('./partials/footer') %>

</body>

</html>