<html>
    <head>
        <title>Pagina de Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/product.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/header-footer.css">
        <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>

      <%- include('./partials/header') %> 

    <main>
        <div>
            <div id="product">
                <img src="<%=products.image%>">
                <h3><%= products.name%></h3>
                <p><%= products.description%></p>
            </div>            
            <div id="purchase">
                <p>$ <%= products.price%></p>
               <a href="/cart/<%= products.id%>"><button type="button">Comprar</button></a>
            </div>
        </div>
      
        <div class="extra">
            <h2>Libros recomendados</h2>       
            <ul id="image">
    
              <div class="img">
                <li><img src="/image/Roos.jpg" alt="portada libro Roos"></li>
              <p>Histologia, texto y atlas</p>
              <p>por <strong>Ross</strong></p>
              <p>$</p>
            </div>
    
              <div class="img">
                <li><img src="/image/la politica economica.jpg" alt="portada libro politica economica si importa"></li>
              <p>La politica economica si importa</p>
              <p>por <strong>Expansion</strong></p>
              <p>$</p>
            </div>
        
              <div class="img">
                <li><img src="/image/la era de la revolucion.webp" alt="portada libro la era de la revolucion"></li>
              <p>La era de la revolucion</p>
              <p>por <strong> Eric Hobsbawn</strong></p>
              <p>$</p>
            </div>

              <div class="img">
                <li><img src="/image/administracion de empresas.jpg" alt="portada libro Administrastive Behavior"></li>
              <p>Administrastive Behavior</p>
              <p>por <strong> Herbert A. Simon</strong></p>
              <p>$</p>
            </div>
            </ul>
        </div>
    </main>

    <%- include('./partials/footer') %> 
    
    </body>
</html>