<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/header-footer.css">
</head>
<body>
    <header>
        <div class="content">
            <div class="header-brand inlineblock">
              <a href="/">
                <img class="logo" src="/image/logo.png" alt="E-coomerces Ebooks Universirarios" >
              </a>
            </div>
    </header>


    <div id="profile">
        <div>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Nombre y apellido" value="<%= user.name %>" required>
        </div>

        <div>
                    <label for="email">Correo electronico</label>
                    <input type="email" name="email" id="email" placeholder="E-mail" value="<%= user.email %>" required>
            </div>

        <div>
                    <label for="date">Fecha de nacimiento</label>
                    <input type="date" name="date" id="date" value="<%= user.date %>" required>
            </div>

        <div id="genre">
                    <h3>Genero</h3>
                    <input type="radio" name="genre" value="male" id="male"<%= user.genre == "male" ? "checked" : null %> required> <label for="male"> Masculino</label>
                    <input type="radio" name="genre" value="fem" id="female"<%= user.genre == "fem" ? "checked" : null %> required> <label for="female"> Femenino</label>
                    <input type="radio" name="genre" value="other" id="other"<%= user.genre == "other" ? "checked" : null %> required> <label for="other"> Otro</label>
            </div>

        <p>Mis pedidos</p>
    </div>
    <button> 
            <a id="delete" href="/users/delete/<%= user.id %>">Borrar</a>
    </button>
    <button>
        <a id="edit" href="/users/edit/<%= user.id %>">Editar</a>
    </button>

    <%-include('./partials/footer') %> 
</body>
</html>