<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University ebooks</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script src="https://kit.fontawesome.com/2c807fa682.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <header>
            <div>
                <a id="logo" href="/"><img src="/image/logo.png" alt="logo"></a>
            </div>
        </header>
        <hr>
        <main id="register">
            <form action="/users/edit/<%= userFound.id %>" id="form" method="POST">
                <h1>Editar cuenta</h1>
                <div id="name-email-pass">
                    <input type="text" name="name" id="name" placeholder="Nombre y apellido"
                        value="<%= userFound.name %>" required>
                    <input type="email" name="email" id="email" placeholder="E-mail" value="<%= userFound.email %>"
                        required>
                    <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
                </div>
                <div id="dateOfBirthay">
                    <h3>Fecha de nacimiento</h3>
                    <input type="date" name="date" id="date" value="<%= userFound.date %>" required>
                </div>
                <h3>Genero</h3>
                <section>
                    <input type="radio" name="genre" value="male" id="male"<%= userFound.genre == "male" ? "checked" : null %> required> <label for="male">
                        Masculino</label>
                    <input type="radio" name="genre" value="fem" id="female"<%= userFound.genre == "fem" ? "checked" : null %> required> <label for="female">
                        Femenino</label>
                    <input type="radio" name="genre" value="other" id="other"<%= userFound.genre == "other" ? "checked" : null %> required> <label for="other"> Otro</label>
                </section>
                <div id="useredit">
                    <button type="submit">Editar</button>
                    <button> 
                        <a id="delete" href="/users/delete/<%= user.id %>">Borrar</a>
                     </button>
                </div>
                <p>Creando tu cuenta, aceptas nuestros terminos y condiciones.</p>
            </form>
        </main>

        <%-include('./partials/footer') %>

    </div>
</body>

</html>